* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #354d96;
}

h1 {
    display: inline-block;
}

select {
    width: 45%;
    display: inline-block;
}

.nav__responsive-ul {
    display: none;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    background-color: #006496;
}

.nav__li {
    display: inline-block;
    padding: 9px;
}

.nav__li a {
    color: #222;
    text-decoration: none;
}

.nav__li:hover > a {
    color: gray;
}

/*p, li, a {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
*/

#contenido {
    background-color: #FF9500;
    padding: 80px 0px 0px 0px;
}

[alt="Logo"] {
    display: inline-block;
    width: 3em;
}

[alt="Cursos"] {
    display: block;
    margin: 0px auto;
    width: 75%;
}

aside img {
    display: inline;
    width: 10em;
}

.nav {
    display: inline-block;
    top: 0;
    right: 0;
}

.nav__responsive-button {
    display: none;
}

@media only screen and (max-width: 850px) {
    .nav__ul {
        display: none;
    }

    .nav__responsive-ul {
        display: block;
        background-color: #808080aa;
    }

    .nav__responsive-li a {
        color: #222;
        text-decoration: none;
    }
    
    .nav__responsive-li:hover > a {
        color: gray;
    }

    .nav {
        display: block;
        height: 1px;
    }

    .nav__responsive-button {
        display: inline-block;
        position: absolute;
        top: 22px;
        right: 10px;
        font-size: 20px;
        padding: 0px 20px auto auto;
    }
}